In [1]:
import numpy as np
import pandas as pd

In [2]:
prequals = pd.read_csv('prequals.csv')
intellicron_prequals = pd.read_csv('intellicron_prequals.csv')

In [3]:
len(prequals)

190976

In [4]:
len(intellicron_prequals)

8609

In [5]:
prequals.head()

,Unnamed: 0,prequal_id,checkout_id,prequal_date,completed_prequal,approved
0,1,00081cb5-27bb-428a-bc53-076bacc7ad02,NaN,2019-06-22,1,0
1,2,00120f05-bf9d-40db-99d1-05a8cbd8aa0e,NaN,2019-04-16,0,0
2,3,00139f6d-0af4-49c5-b26f-f9c999a06bcb,6e01514b-6b6b-4510-8f6c-d994b871273c,2019-05-09,1,1
3,4,0019854e-e4c2-42df-be79-59cf1a13ac89,NaN,2019-01-17,0,0
4,5,0019cb64-a44c-4320-b149-9c0167c714e9,NaN,2019-04-16,1,1

In [6]:
intellicron_prequals.head()

   Unnamed: 0                            prequal_id assignment_date
0           1  00081cb5-27bb-428a-bc53-076bacc7ad02      2019-06-22
1           2  0136e545-347d-4a3b-b964-0a4561d32567      2019-06-22
2           3  0144b69a-f364-4746-8600-f6d7334d8f3f      2019-06-27
3           4  020412e9-c946-4252-94cf-85a4aaa75e2e      2019-06-29
4           5  02f54404-995d-4eb0-b91b-40f40f68f506      2019-06-19

In [7]:
intellicron_prequals['intellicron'] = 'intellicron'

1. Combine intellicron data with all prequals
    - identify intellicron and non-intellicron records
2. Complete descriptive statistics to analyze the data
    - Confirm record count to ensure succesful merge of data
    - Look at spread of prequal_dates
3. Feature engineering
    - checkout: yes or no
3. What was the impact from implementing Intellicron?
    - Compare the raw approval rates between the two groups
    - Compare the checkout rates between the two groups
4. Perform a hypothesis test to measure the A/B test results. What was the result of the hypothesis test? What is your confidence interval?
    - Follow and replicate the Udacity A/B test project to respond to this
5. Was test and control group assignment done correctly? How can you tell? Is there anything you would do di erently next time?
    - 
6. Should we implement Intellicron? What other data, if any, would you need to make this determination?
7. Convert entire code to interactive
    - design as main
    - make interactive to show responses for all 4 questions